[project]
	description = A set of utility libraries for Dart
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andreas Kirsch (BlackHC)
[access "refs/for/refs/*"]
	read = group user/Andreas Kirsch (BlackHC)
	push = group user/Andreas Kirsch (BlackHC)
	label-Code-Review = -2..+2 group user/Andreas Kirsch (BlackHC)
	label-Verified = -1..+1 group user/Andreas Kirsch (BlackHC)
	rebase = group user/Andreas Kirsch (BlackHC)
	removeReviewer = group user/Andreas Kirsch (BlackHC)
	submit = group user/Andreas Kirsch (BlackHC)
[access "refs/heads/*"]
	read = group user/Andreas Kirsch (BlackHC)
	create = group user/Andreas Kirsch (BlackHC)
	push = +force group user/Andreas Kirsch (BlackHC)
	pushMerge = group user/Andreas Kirsch (BlackHC)
[access "refs/tags/*"]
	push = +force group user/Andreas Kirsch (BlackHC)
	pushTag = group user/Andreas Kirsch (BlackHC)
	pushSignedTag = group user/Andreas Kirsch (BlackHC)
